In [1]:
import pandas as pd
import numpy as np

In [2]:
EM=pd.read_csv('estaticos_market.csv')
EM

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,...,43.738462,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.093151,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,6.512329,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,3.200000,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462293,462293,469ee5fc984d0bb60aa2f40cda4d003d7c9b963d149ed3...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO E REPARACAO DE VEICULOS,COMERCIO,3.254795,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
462294,462294,656f496e7e2fad708f0022d8ad97d2cb9344e839a5f3cb...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS ADMINISTRATIVOS,SERVIÇO,8.953425,5 a 10,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0
462295,462295,9b933a5cf2149d1338f00fb459d34a16b9b0f2e8d3e8e1...,True,ASSOCIACAO PRIVADA,MA,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DE SAUDE,SERVIÇO,20.745205,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
462296,462296,84db0f17467cf4f02439e01ade57150b6ac59d9dae53ed...,True,SOCIEDADE EMPRESARIA LIMITADA,RO,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,1.909589,1 a 5,...,13.422222,19.733333,2.400000,3.0,2.0,0.0,50.0,NaN,0.0,0
462297,462297,3d43e934e150b86be1e67524f5ba1018b27da9ef25566d...,True,EMPRESARIO INDIVIDUAL,RO,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,0.797260,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [22]:
missing=((EM.isna().sum()/EM.shape[0]*100))
types=EM.dtypes
columns=EM.columns
tent=pd.DataFrame({'column':columns,'missing':missing,'type':types})
tent.head(50)

,column,missing,type
Unnamed: 0,Unnamed: 0,0.000000,int64
id,id,0.000000,object
fl_matriz,fl_matriz,0.000000,bool
de_natureza_juridica,de_natureza_juridica,0.000000,object
sg_uf,sg_uf,0.000000,object
natureza_juridica_macro,natureza_juridica_macro,0.000000,object
de_ramo,de_ramo,0.000000,object
setor,setor,0.416831,object
idade_empresa_anos,idade_empresa_anos,0.000000,float64
idade_emp_cat,idade_emp_cat,0.000000,object
fl_me,fl_me,0.000000,bool
fl_sa,fl_sa,0.000000,bool
fl_epp,fl_epp,0.000000,bool
fl_mei,fl_mei,0.000000,bool
fl_ltda,fl_ltda,0.000000,bool
dt_situacao,dt_situacao,0.001298,object
fl_st_especial,fl_st_especial,0.000000,bool
fl_email,fl_email,0.000000,bool
fl_telefone,fl_telefone,0.000000,bool
fl_rm,fl_rm,0.000000,object
nm_divisao,nm_divisao,0.416831,object
nm_segmento,nm_segmento,0.416831,object
fl_spa,fl_spa,0.416831,object
fl_antt,fl_antt,0.416831,object
fl_veiculo,fl_veiculo,0.416831,object
vl_total_tancagem,vl_total_tancagem,99.939433,float64
vl_total_veiculos_antt,vl_total_veiculos_antt,99.961929,float64
vl_total_veiculos_leves,vl_total_veiculos_leves,93.362723,float64
vl_total_veiculos_pesados,vl_total_veiculos_pesados,93.362723,float64
fl_optante_simples,fl_optante_simples,17.891706,object
qt_art,qt_art,98.574513,float64
vl_total_veiculos_pesados_grupo,vl_total_veiculos_pesados_grupo,0.416831,float64
vl_total_veiculos_leves_grupo,vl_total_veiculos_leves_grupo,0.416831,float64
vl_total_tancagem_grupo,vl_total_tancagem_grupo,99.619293,float64
vl_total_veiculos_antt_grupo,vl_total_veiculos_antt_grupo,99.927320,float64
vl_potenc_cons_oleo_gas,vl_potenc_cons_oleo_gas,99.203328,float64
fl_optante_simei,fl_optante_simei,17.891706,object
sg_uf_matriz,sg_uf_matriz,0.419426,object
de_saude_tributaria,de_saude_tributaria,3.212430,object
de_saude_rescencia,de_saude_rescencia,3.212430,object
nu_meses_rescencia,nu_meses_rescencia,9.793683,float64
de_nivel_atividade,de_nivel_atividade,2.415758,object
de_indicador_telefone,de_indicador_telefone,90.505475,object
fl_simples_irregular,fl_simples_irregular,0.416831,object
vl_frota,vl_frota,94.767444,float64
empsetorcensitariofaixarendapopulacao,empsetorcensitariofaixarendapopulacao,31.111750,float64
nm_meso_regiao,nm_meso_regiao,12.697005,object
nm_micro_regiao,nm_micro_regiao,12.697005,object
fl_passivel_iss,fl_passivel_iss,0.416831,object
qt_socios,qt_socios,24.895414,float64

In [28]:
tent2=tent.loc[tent['missing'] < 30 ]
list(tent2.column)

['Unnamed: 0',
 'id',
 'fl_matriz',
 'de_natureza_juridica',
 'sg_uf',
 'natureza_juridica_macro',
 'de_ramo',
 'setor',
 'idade_empresa_anos',
 'idade_emp_cat',
 'fl_me',
 'fl_sa',
 'fl_epp',
 'fl_mei',
 'fl_ltda',
 'dt_situacao',
 'fl_st_especial',
 'fl_email',
 'fl_telefone',
 'fl_rm',
 'nm_divisao',
 'nm_segmento',
 'fl_spa',
 'fl_antt',
 'fl_veiculo',
 'fl_optante_simples',
 'vl_total_veiculos_pesados_grupo',
 'vl_total_veiculos_leves_grupo',
 'fl_optante_simei',
 'sg_uf_matriz',
 'de_saude_tributaria',
 'de_saude_rescencia',
 'nu_meses_rescencia',
 'de_nivel_atividade',
 'fl_simples_irregular',
 'nm_meso_regiao',
 'nm_micro_regiao',
 'fl_passivel_iss',
 'qt_socios',
 'qt_socios_pf',
 'qt_socios_pj',
 'de_faixa_faturamento_estimado',
 'de_faixa_faturamento_estimado_grupo',
 'vl_faturamento_estimado_aux',
 'vl_faturamento_estimado_grupo_aux',
 'qt_filiais']

In [42]:
EM1= EM[tent2.column].fillna(0).select_dtypes(include=['float64','int64'])
EM1.dtypes

Unnamed: 0                             int64
idade_empresa_anos                   float64
vl_total_veiculos_pesados_grupo      float64
vl_total_veiculos_leves_grupo        float64
nu_meses_rescencia                   float64
qt_socios                            float64
qt_socios_pf                         float64
qt_socios_pj                         float64
vl_faturamento_estimado_aux          float64
vl_faturamento_estimado_grupo_aux    float64
qt_filiais                             int64
dtype: object